@use "../utils/variables" as var;
@use "../base/reset";
@use "../layout/header";
@use "../layout/footer";

.all-card {
  position: relative;
  img {
    position: relative;
    width: 100%;
  }
  .rating {
    position: absolute;
  }
  .all-card-img {
    .heart-container {
      position: absolute;
      z-index: 1;
      width: 24px;
      right: 8px;
    }
  }
  padding: 8px;
  width: 272px;
  border-radius: 4px;
  background-color: var.$white;
  transition: 0.5s;
  .all-card-img {
    img {
      height: 160px;
    }
  }
  .all-card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      color: var.$black;
      font-weight: 700;
      font-size: 18px;
    }
    h4 {
      color: var.$darkGrey;
      font-weight: 400;
      font-size: 16px;
    }
  }
  .all-card-info {
    display: flex;
    justify-content: space-between;
    p {
      color: var.$grey;
      font-weight: 400;
      font-size: 12px;
    }
  }
  h5 {
    margin-top: 8px;
    color: var.$black;
    font-weight: 400;
  }
  button {
    margin-top: 50px;
    width: 100%;
    height: 40px;
    border: 1px solid var.$green;
    background-color: var.$white;
    color: var.$green;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    border-radius: 4px;
    transition: 0.5s;
    &:hover {
      border: 1px solid var.$orange;
      background-color: var.$orange;
      color: var.$white;
    }
  }
  &:hover {
    transform: scale(1.1);
  }
}
