$green: #70c05b;
$orange: #ff6633;
$black: #414141;
$darkGrey: #606060;
$white: #ffffff;
$footer-bg: #f9f4e2;
$bg-all: rgb(251, 248, 236);
$grey: #bfbfbf;
$page5-card-bg:#FCD5BA;
$page5-card2-bg:#E5FFDE;
$page7-p:#8F8F8F;
$page7-btn:#E5FFDE;
$background-color: #f8f7f2;
$card-background: #ffffff;
$text-color: #333333;
$border-radius: 12px;
$spacing: 16px;
$title-font-size: 32px;
$card-title-font-size: 14px;